* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    display:flex ;
    position: absolute;
    margin:auto;
    width: 100vw;
    height: 70px;
    left: 0px;
    top: 0px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.1);
}

.navbar > img{
    position: absolute;
    width: 82px;
    height: 25px;
    left: 30px;
    top: 22px;
}

.card{
    position: absolute;
    text-align: center;
    background: rgb(255, 255, 255);
    /* width: 550px; */
    width: 45%;
    height: 130%; /*850px*/
    left: 30vw;
    top: 93px;
    /* overflow: hidden; */
    /* box-shadow: 0px 3px 7.45px rgba(247, 34, 6, 0.813); */
}

.hero{
    position: relative;
    width: 80%;
    height: 300px;
    left: 10%;
    top: 3px;
    /* background-image: url('./assets/photo-grid.png');
    background-size: 100%;
    background-repeat: no-repeat; */
}

.photo-grid{
    position: relative;
    width:100%;
}

.text{
    position: absolute;
    left: 5%;
    right: 10%;
    top: 31%;
}

.text > h2{
    font-weight: 600;
    font-size: 36px;
}

.text > h3{
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    width: 65%;
    margin-top: -30px;

}


.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.scroll-elements{
    position: relative;
    /* width: 100%; */
    top: 15%;
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card-2 {
    
    /* width: 30%; */
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.537);
    border-radius: 8px;    
}

.card-2 > img {
    width: 100%;
    border-radius: 9px 9px 0px 0px;
}

.sold-out{
    position: absolute;
    margin-top: 6px;
    margin-left: 6px; 
    background-color: white;
    padding: 5px 7px;
    border-radius: 3px;
    width: 80px;
    font-weight: bold;
}

/*media screens*/

@media screen and (max-width: 375px){

    .card{
        position: static;
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    .card > .text{
        margin-top: 70px;
    }

    .photo-grid{
        width: 250px;
        margin-left: -25px;
    }

    .scroll-elements{
        position: absolute;
        width: 100%;
        top: 430px;
        left: 0.5%;
    }
        
}

@media screen and (max-width: 683px){
    .card{
        height: 80vh;
    }

    .text{
        top: 25%;
    }    
    .text > h2{
        font-size: 19px;
    }
    .text > h3{
        margin-top: -10px;
        width: 100%;
        font-size: 13px;
    }
    .scroll-elements{
        margin-top: -100px;
    }

    .scroll-elements > .card-2{
        width: 60%;
    }
}

@media screen and (min-width: 684px){
    .text{
        top: 18%;
    }    
    .text > h2{
        font-size: 26px;
    }
    .text > h3{
        margin-top: -15px;
        width: 100%;
        font-size: 16px;
    }
    .scroll-elements{
        margin-top: -100px;
    }

    .scroll-elements > .card-2{
        width: 60%;
    }
}

@media screen and (min-width: 841px){
    .text{
        top: 25%;
    }    
    .text > h2{
        font-size: 29px;
    }
    .text > h3{
        margin-top: -15px;
        width: 100%;
        font-size: 16px;
    }
    .scroll-elements{
        margin-top: -45px;
    }

    .scroll-elements > .card-2{
        width: 45%;
    }
}

@media screen and (min-width: 1143px){
    .text{
        top: 31%;
    }    
    .text > h2{
        font-size: 36px;
    }
    .text > h3{
        margin-top: -30px;
        width: 100%;
        font-size: 16px;
    }
    .scroll-elements{
        margin-top: 0px;
    }

    .scroll-elements > .card-2{
        width: 35%;
    }
}

